{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.en.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Welcome to Whasq!<br /><br />

            {% if password is defined and password is not null %}
                Ваш личный кабинет был создан с паролем: <i>{{ password }}</i>. Вы можете поменять его на экране входа в приложении.<br /><br />
             {% endif %}

            Мы отправим вам несколько сообщений с подсказками, как получить лучшее от Whasq. Между тем, заходите и пробуйте сами!Мы вам рады!<br /><br /><br />
            <table width="100%" align="center" bgcolor="white">
                 <tr>
                    <td bgcolor="#ffffff" align="center">
                        Как зарегистрироваться и создать профиль:<br /><br />
                         <a rel="nofollow" target="_blank" href="https://www.youtube.com/watch?v=MVZKIQ1pcQ4" title="Tutorial">
                         <img src="https://api.whasq.com/bundles/app/images/tutorial-youtube.jpeg" alt="Whasq tutorial" width="200" height="111" style="display: block;"/>
                         </a>
                         <br /><br />
                    </td>
                </tr>
            </table>
        </td>
     </tr>
    {% include('email/footer.en.html.twig') %}
{% endblock %}
