{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.es.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            ¡Bienvenido a Whasq!<br /><br />
            {% if password is defined and password is not null %}
                Su cuenta ha sido creada con la contraseña : <i>{{ password }}</i>.  no dudes en cambiarla en la pantalla de inicio de la aplicación.<br /><br />
             {% endif %}
            Te enviaremos unos correos sobre cómo aprovechar al máximo Whasq. ¡Mientras tanto, sumérgete y comienza a explorar. ¡Estamos contentos de que estés aquí!!
            <br /><br /><br /><br /><br />
            <table width="100%" align="center" bgcolor="white">
                 <tr>
                    <td bgcolor="#ffffff" align="center">
                        ¿Cómo conectarse?:<br /><br />
                         <a rel="nofollow" target="_blank" href="https://www.youtube.com/watch?v=MVZKIQ1pcQ4" title="Tutorial">
                         <img src="https://api.whasq.com/bundles/app/images/tutorial-youtube.jpeg" alt="Whasq tutorial" width="200" height="111" style="display: block;"/>
                         </a>
                         <br /><br />
                    </td>
                </tr>
            </table>
        </td>
     </tr>
    {% include('email/footer.es.html.twig') %}
{% endblock %}