{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.fr.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Bienvenu(e) sur Whasq !<br /><br />
            {% if password is defined and password is not null %}
                Votre compte a été créé avec un mot de passe: <i>{{ password }}</i>. N'hésitez pas à le changer sur l'écran de connexion dans l'application.<br /><br />
             {% endif %}
            Nous vous enverrons quelques emails rapides sur la façon de tirer le meilleur parti de Whasq. En attendant, plongez et commencez à explorer. Nous sommes heureux que vous soyez ici !<br /><br /><br />
            <table width="100%" align="center" bgcolor="white">
                 <tr>
                    <td bgcolor="#ffffff" align="center">
                        Comment se connecter :<br /><br />
                         <a rel="nofollow" target="_blank" href="https://www.youtube.com/watch?v=MVZKIQ1pcQ4" title="Tutorial">
                         <img src="https://api.whasq.com/bundles/app/images/tutorial-youtube.jpeg" alt="Whasq tutorial" width="200" height="111" style="display: block;"/>
                         </a>
                         <br /><br />
                    </td>
                </tr>
            </table>
        </td>
     </tr>
    {% include('email/footer.fr.html.twig') %}
{% endblock %}