{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.fr.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Bonjour,<br /><br />
            Vous avez perdu votre mot de passe ou souhaitez le changer pour le compte: {{ user.email }}<br />
            Pour modifier votre mot de passe, veuillez cliquer sur le lien ci-dessous:<br />
            <a href="{{ link }}">Changer mon mot de passe</a><br />
            Attention, ce lien a une durée de vie limitée.
        </td>
     </tr>
    {% include('email/footer.fr.html.twig') %}
{% endblock %}