{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.es.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Buenos días,<br /><br />
            Perdiste tu contraseña o quieres cambiar la contraseña de la cuenta: {{ user.email }}<br />
            Para modificar la contraseña, por favor dale click al enlace :<br />
            <a href="{{ link }}">Cambiar mi contraseña </a><br />
            Cuidado, este enlace solo esta disponible unas horas.
        </td>
     </tr>
    {% include('email/footer.es.html.twig') %}
{% endblock %}