<tr>
  <td bgcolor="#60d2f4" style="background:linear-gradient(45deg, #41B6E8 0%, #60d2f4 100%); padding: 10px 0 10px 0;" align="center">
    <table style="margin:0 auto;max-width:640px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody><tr>
    <td style="border-top:2px solid #FFFFFF; border-bottom:0; border-left:0;border-right:0;padding:4px; padding-bottom: 10px;text-transform:uppercase;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#464650;" align="center">
    <br /><br />
       ДОБРО ПОЖАЛОВАТЬ В СООБЩЕСТВО WHASQ
    </td>
  </tr>
  <tr>
    <td align="center">
      <table style="max-width:170px;" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
          <tr>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://www.facebook.com/WHASQ-335924380207239/" title="Facebook"><img src="https://api.whasq.com/bundles/app/images/footer-facebook.jpeg" width="24" height="24" border="0" alt="Facebook">
              </a>
            </td>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://twitter.com/WHASQ_FR?lang=fr" title="Twitter"><img src="https://api.whasq.com/bundles/app/images/footer-twitter.jpeg" width="24" height="24" border="0" alt="Twitter">
              </a>
            </td>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://www.linkedin.com/company/13273156/" title="LinkedIn"><img src="https://api.whasq.com/bundles/app/images/footer-linkedin.jpeg" width="24" height="24" border="0" alt="Instagram">
              </a>
            </td>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://www.youtube.com/channel/UCGdu3SQqsTucs-HPFweUHMQ" title="Youtube"><img src="https://api.whasq.com/bundles/app/images/footer-youtube.jpeg" width="24" height="24" border="0" alt="YouTube">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
    </td>
  </tr>

  <tr>
    <td align="center">
      <table style="max-width:170px;" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
          <tr>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://itunes.apple.com/us/app/whasq/id1355617425?ls=1&mt=8" title="Appstore"><img src="https://api.whasq.com/bundles/app/images/footer-appstore.png" width="150" border="0" alt="Appstore">
              </a>
            </td>
            <td align="center" style="padding:0 5px;">
              <a rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.clicandwalk.whasq&hl=fr" title="Play Store"><img src="https://api.whasq.com/bundles/app/images/footer-playstore.png" width="150" border="0" alt="Play Store">
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    
    </td>
  </tr>


  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="center" style="margin:0 auto;" width="100%">
        <tbody>
        <tr>
          <td align="center" style="padding-top:10px;font-family:Arial, Helvetica, sans-serif;font-size:10px;color: #ffffff;">
            {% if unsubscribeLink is defined %}
              <a href="{{ unsubscribeLink }}" rel="nofollow" target="_blank" title="Отменить подписку" style="color:#ffffff;">Отменить подписку</a>
              <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            {% endif %}
            <a href="http://whasq.com/#home-section-how" rel="nofollow" target="_blank" title="Как это работает" style="color: #ffffff;">Как это работает?</a>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody>
</table>
  </td>
</tr>
