{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.fr.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Bonjour,<br /><br />
            Vous avez demandé à recevoir les données personnelles stockées sur l'application whasq pour le compte: {{ user.email }}<br />
            Veuillez trouvez ci-dessous un lien pour les télécharger:<br />
            <a href="{{ link }}">Télécharger mes données Whasq</a><br />
            Attention, ce lien a une durée de vie limitée à 48h.
        </td>
     </tr>
    {% include('email/footer.fr.html.twig') %}
{% endblock %}