{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.it.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Buongiorno,<br /><br />
            Hai richiesto di ricevere i dati personali memorizzati nell'applicazione whasq per il account:stockées sur l'application whasq pour le compte: {{ user.email }}<br />
            Si prega di trovare sotto un link per scaricarli:<br />
            <a href="{{ link }}">Scaricare i miei dati personali Whasq</a><br />
            Attenzione, questo collegamento ha una durata limitata di 48 ore.
        </td>
     </tr>
    {% include('email/footer.it.html.twig') %}
{% endblock %}