<tr>
    <td align="center" bgcolor="#60d2f4" style="background:linear-gradient(45deg, #41B6E8 0%, #60d2f4 100%); padding: 10px 0 10px 0;">
        <table>
            <tr>
                <td align="center">
                     <a rel="nofollow" target="_blank" href="https://www.whasq.com" title="Whasq">
                        <img src="https://api.whasq.com/bundles/app/images/logo-whasq.png" alt="Whasq" width="200" style="display: block;"/>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>