{% extends 'base.html.twig' %}

{% block body %}
    {% include('email/header.en.html.twig') %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px; font-family:Arial, Helvetica, sans-serif;font-size:14px;">
            Присоединяйтесь к  Whasq и примените свои таланты для помощи коллегам!<br /><br /><br />
            <table width="100%" align="center" bgcolor="white">
                 <tr>
                    <td bgcolor="#ffffff"  align="center">
                        Как зарегистрироваться и заполнить профиль:<br /><br />
                         <a rel="nofollow" target="_blank" href="https://www.youtube.com/watch?v=MVZKIQ1pcQ4" title="Tutorial">
                         <img src="https://api.whasq.com/bundles/app/images/tutorial-youtube.jpeg" alt="Whasq tutorial" width="200" height="111" style="display: block;"/>
                         </a>
                         <br /><br />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" align="center">
                        Установить приложение:<br /><br />
                        <table style="max-width:170px;" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                            <tbody>
                            <tr>
                                <td align="center" style="padding:0 5px;">
                                <a rel="nofollow" target="_blank" href="https://itunes.apple.com/us/app/whasq/id1355617425?ls=1&mt=8" title="Appstore"><img src="https://api.whasq.com/bundles/app/images/footer-appstore-black.png" width="150" border="0" alt="Appstore">
                                </a>
                                </td>
                                <td align="center" style="padding:0 5px;">
                                <a rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.clicandwalk.whasq&hl=fr" title="Play Store"><img src="https://api.whasq.com/bundles/app/images/footer-playstore-black.png" width="150" border="0" alt="Play Store">
                                </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
     </tr>
    {% include('email/footer.en.html.twig') %}
{% endblock %}
